<a href="https://colab.research.google.com/github/mkamwana/deep-learning-challenge/blob/main/Starter_Code/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.10/dist-packages (2.12.0)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.5.26)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.56.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.8.0)
Requirement already satisfied: jax>=0.3.15 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.4.10)
Requirement already satisfied: keras<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (16.0.0)
Requirement already satisfied: numpy<1.24,>=1.22 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.22.4)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from tensorflow) (23.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (3.20.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from tensorflow) (67.7.2)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.16.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.12.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (4.6.3)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.10/dist-packages (from tensorflow) (0.32.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from astunparse>=1.6.0->tensorflow) (0.40.0)
Requirement already satisfied: ml-dtypes>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (0.2.0)
Requirement already satisfied: scipy>=1.7 in /usr/local/lib/python3.10/dist-packages (from jax>=0.3.15->tensorflow) (1.10.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (3.4.3)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.27.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (0.7.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from tensorboard<2.13,>=2.12->tensorflow) (2.3.6)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (1.3.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3,>=2.21.0->tensorboard<2.13,>=2.12->tensorflow) (3.4)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from werkzeug>=1.0.1->tensorboard<2.13,>=2.12->tensorflow) (2.1.3)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow) (3.2.2)

In [3]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=["EIN", "NAME", "ORGANIZATION", "STATUS", "APPLICATION_TYPE"])
application_df

,AFFILIATION,CLASSIFICATION,USE_CASE,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,Independent,C1000,ProductDev,0,N,5000,1
1,Independent,C2000,Preservation,1-9999,N,108590,1
2,CompanySponsored,C3000,ProductDev,0,N,5000,0
3,CompanySponsored,C2000,Preservation,10000-24999,N,6692,1
4,Independent,C1000,Heathcare,100000-499999,N,142590,1
...,...,...,...,...,...,...,...
34294,Independent,C1000,ProductDev,0,N,5000,0
34295,CompanySponsored,C3000,ProductDev,0,N,5000,0
34296,CompanySponsored,C2000,Preservation,0,N,5000,0
34297,Independent,C3000,ProductDev,0,N,5000,1
34298,Independent,C1000,Preservation,1M-5M,N,36500179,0

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [97]:
# Look at APPLICATION_TYPE value counts for binning
#application_df.APPLICATION_TYPE.value_counts()

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x: x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace =application_df["CLASSIFICATION"].value_counts().loc[lambda x: x<10].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df=pd.get_dummies(application_df)
app_dummies_df

,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,1,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34295,5000,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,5000,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,5000,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,36500179,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X=app_dummies_df.drop(columns=["IS_SUCCESSFUL"]).values
y=app_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test= train_test_split(X,y, random_state= 1)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim= input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=10, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4320

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 7,071
Trainable params: 7,071
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6078 - accuracy: 0.6897
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5956 - accuracy: 0.6984
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5937 - accuracy: 0.6986
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5926 - accuracy: 0.6999
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5916 - accuracy: 0.7006
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5918 - accuracy: 0.7013
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5907 - accuracy: 0.7009
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5905 - accuracy: 0.6999
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5904 - accuracy: 0.7014
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5896 - accuracy: 0.7010
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5897 - accuracy: 0.7014
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5893 - accuracy: 0.7021
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5891 - accuracy: 0.7020
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5886 - accuracy: 0.7012
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5886 - accuracy: 0.7022
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5884 - accuracy: 0.7009
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5885 - accuracy: 0.7018
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5881 - accuracy: 0.7024
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5875 - accuracy: 0.7021
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5879 - accuracy: 0.7020
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5873 - accuracy: 0.7032
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5876 - accuracy: 0.7030
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5868 - accuracy: 0.7029
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5868 - accuracy: 0.7032
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5865 - accuracy: 0.7034
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5866 - accuracy: 0.7032
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5864 - accuracy: 0.7033
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5860 - accuracy: 0.7035
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5862 - accuracy: 0.7037
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5859 - accuracy: 0.7032
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5860 - accuracy: 0.7039
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5859 - accuracy: 0.7034
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5856 - accuracy: 0.7040
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5853 - accuracy: 0.7025
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5854 - accuracy: 0.7036
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5851 - accuracy: 0.7045
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5849 - accuracy: 0.7037
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5847 - accuracy: 0.7042
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5851 - accuracy: 0.7036
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5848 - accuracy: 0.7044
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5849 - accuracy: 0.7039
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5849 - accuracy: 0.7050
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5845 - accuracy: 0.7042
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5843 - accuracy: 0.7047
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5842 - accuracy: 0.7043
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5841 - accuracy: 0.7042
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5840 - accuracy: 0.7048
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5841 - accuracy: 0.7046
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5840 - accuracy: 0.7049
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5843 - accuracy: 0.7052
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5838 - accuracy: 0.7049
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5839 - accuracy: 0.7049
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5836 - accuracy: 0.7061
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5837 - accuracy: 0.7051
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5834 - accuracy: 0.7055
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5837 - accuracy: 0.7053
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5834 - accuracy: 0.7054
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5832 - accuracy: 0.7048
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5832 - accuracy: 0.7053
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5833 - accuracy: 0.7051
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5831 - accuracy: 0.7048
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5832 - accuracy: 0.7061
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5830 - accuracy: 0.7054
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5830 - accuracy: 0.7055
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5831 - accuracy: 0.7056
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5831 - accuracy: 0.7056
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5830 - accuracy: 0.7056
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5832 - accuracy: 0.7056
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5831 - accuracy: 0.7055
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5827 - accuracy: 0.7060
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5827 - accuracy: 0.7048
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5827 - accuracy: 0.7059
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5828 - accuracy: 0.7056
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5826 - accuracy: 0.7056
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7059
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5823 - accuracy: 0.7056
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5828 - accuracy: 0.7058
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7055
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5829 - accuracy: 0.7058
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5827 - accuracy: 0.7057
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5825 - accuracy: 0.7053
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7055
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5824 - accuracy: 0.7055
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5824 - accuracy: 0.7054
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5821 - accuracy: 0.7058
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5828 - accuracy: 0.7053
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5822 - accuracy: 0.7055
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7060
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5819 - accuracy: 0.7057
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5827 - accuracy: 0.7046
Epoch 91/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5822 - accuracy: 0.7055
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5820 - accuracy: 0.7058
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5821 - accuracy: 0.7055
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5822 - accuracy: 0.7051
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5824 - accuracy: 0.7058
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5816 - accuracy: 0.7060
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5820 - accuracy: 0.7056
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5818 - accuracy: 0.7055
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5815 - accuracy: 0.7057
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5817 - accuracy: 0.7054

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6084 - accuracy: 0.7031 - 501ms/epoch - 2ms/step
Loss: 0.6084151268005371, Accuracy: 0.7030903697013855

In [16]:
# Export our model to HDF5 file
nn.save('Resources/AlphabetSoupCharity.h5')